:root {
	--ro-default-background: #fff;
}

/* Carrega as fontes */

@font-face {
    font-family: Ubuntu;
    src: url("fonts/Ubuntu-Regular.ttf") format("truetype");
}



/* Global CSS */

.clearfix:after,
.qam-login-group:after,
.qa-header:after,
.qa-main-shadow:after,
.qa-footer-bottom-group:after,
.qa-main-wrapper:after,
.qa-nav-main-list:after,
.qa-nav-sub-list:after,
.qa-nav-cat-item:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearfix,
.qam-login-group,
.qa-header,
.qa-main-shadow,
.qa-nav-footer,
.qa-footer-bottom-group,
.qa-main-wrapper,
.qa-nav-main-list,
.qa-nav-sub-list,
.qa-nav-cat-item {
	display: inline-table;
}

/* hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}

.clearfix,
.qam-login-group,
.qa-header,
.qa-main-shadow,
.qa-nav-footer,
.qa-footer-bottom-group,
.qa-main-wrapper,
.qa-nav-main-list,
.qa-nav-sub-list,
.qa-nav-cat-item {
	display: block;
}
/* end hide from IE-mac */

:-moz-placeholder {
	color: #aaa !important;
	font-style: italic;
	line-height: 20px;
}

::-webkit-input-placeholder {
	color: #ccc !important;
	font-style: italic;
	line-height: 20px;
}

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	position: relative;
	min-height: 100%;
	font-family: 'Ubuntu', sans-serif;
}

body {
	background: #171A21;  /* fallback for old browsers */
	text-align: center;
	margin: 0 0 80px;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow-x: hidden;
	width: 100%;
}

body, td, input, textarea {
	font: 14px/1.5 Ubuntu, sans-serif;
	color: #ddd;
	margin: 0 auto;
}

a:link, a:visited {
	text-decoration: none;
	color: #ddd;
}

a:hover, a:active {
	color: #ddd;
	text-decoration: underline;
}

button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

form, fieldset {
	padding: 0;
	margin: 0;
	border: none;
}

input[type="text"].qa-search-field {
	padding: 7.5px 7px;
	background-color: #32353C;
	border-color: #32353C;
	color: #ccc;
}

input[type="text"], input[type="password"], textarea, select {
	border: none;
	padding: 6px;
	color: #555;
	border-radius: 2px;
	line-height: normal;
	background-color: #32353C;
	position: relative;
	transition: all .2s;
	border-radius: 2px;
	background: #32353C;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	transition: all .2s;
	background: #32353C;
	color: #ccc;
	line-height: normal;
	-moz-transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
	-webkit-transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
	-o-transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
	transition: box-shadow ease-in-out 0.2s, border ease-in-out 0.2s;
}

input {
	outline: none;
}

input[type="submit"] {
	cursor: pointer;
}

input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

select {
	background: #fff;
	color: #666;
	border: 1px solid #ccc;
	padding: 2px 0 2px 2px;
}

table {
	border-collapse: collapse;
}

.text-top  {
      background-color: #267db7;
      color: #fff;
      padding: 4px;
      font-family: 'Ubuntu', sans-serif;
      overflow: hidden;
}

.text-content {
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: r-anm 17s linear infinite;
  -webkit-animation: r-anm 17s linear infinite;
  animation: r-anm 17s linear infinite;
}

@-moz-keyframes r-anm {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}




/* Headings */

.qa-main-heading {
	position: relative;
	margin: 5px 0 25px;
	padding: 0 25px 5px 0;
	border-bottom: 1px solid #262626;
}

h1 {
	color: #fff;
	background: #393C44;
	font-size: 16px !important;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;
	top: 1rem;
	margin: 0 20px;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	max-width: 100%;
	font-weight: bold;
	padding: 5px 10px;
	border-radius: 2px;
	font-size: 1em;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

h2 {
	font-size: 16px;
	color: #ddd;
	padding: 5px 10px !important;
	clear: both;
	background: linear-gradient(200deg, #06BFFF 0%, #2D73FF 100%);
	font-family: 'Ubuntu', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	border-radius: 3px;
	box-shadow: 0 -25px 25px -25px white inset;
}

h3 {
	margin: 0 0 10px 0;
	color: #111;
}

blockquote {
	background: #eee;
	padding: 15px;
	margin: 30px auto;
	border: 1px solid #aaa;
	font-size: 16px;
	font-style: italic;
	color: #000;
	position: relative;
}

blockquote p {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

.qa-q-view-follows {
	background: #eee;
	padding: 2px 5px;
}

.qa-q-view-follows-link {
	color: #3B5998 !important;
}

p {
	margin-top: 0;
}

/* Login bar */

.qam-login-bar {
	background: #171A21;
	margin: 0;
	float: right;
	height: 30px;
	padding: 20px 0px;
	position: relative;
	color: #fff;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.qam-login-group {
	margin: 0 auto;
	padding: 2px 20px;
	text-align: left;
	position: relative;
	float: right;
}
.qam-login-form {
	float: left;
}

.qam-login-text, .qa-search-field {
	width: 165px;
	margin-right: 5px;
	padding: 4px 5px;
	float: left !important;
	position: relative;
	top: 5rem !important;
	left: 15rem !important;
	z-index: 1;
}



.qam-login-text {
	padding: 0px 20px;
	visibility: hidden;
}
.qam-rememberbox {
	float: left;
	visibility: hidden;
	padding: 7px 5px 1px;
}
#qam-rememberme {
	float: left;
	margin: 0 5px 0 0;
}
.qam-remember {
	float: right;
	line-height: 14px;
}


.qa-search {
	white-space: nowrap;
	margin: 0;
	float: left;
	position: relative;
	right: 15rem;
}

* html .qa-search {
	margin-right: 6px;
}

/* IE6 */
.qa-search form {
	margin: 0;
	z-index: -1;
}

/* IE6/7 */
.qa-search-field {
	vertical-align: bottom;
	margin: 0;
	border-radius: 3px 0 0 3px !important;
}

input[type="submit"].qa-search-button {
	width: 50px;
	height: 33px;
	font-size: 12px;
	margin-left: 1px;
	padding: 7px 7px;
	text-indent: -9999px;
	background: url(images/search-icon-flat.png) no-repeat;
	background-color: #267db6;
	background-size: cover;
	background-position: center -8px;
	border: 1px solid #32353C;
	display: inline-block;
	position: relative;
	top: 4.999rem;
	z-index: 1;
	left: 12rem;
}


input[type="submit"].qa-search-button:hover {
	background-position: center -8px;
}

/* navigation */
.qa-nav-user {
	float: left;
	position: relative;
	left: 230px;
	padding: 10px 0px;
	font-size: 12px;
	color: #fff !important;
	white-space: nowrap;
	margin: 1px 0 4px 0;
}

.qa-nav.user .qa-nav-user-link a {
	color: #fff !important;
}

* html .qa-nav-user {
	margin-right: 12px;
}

.qa-logged-in {
	display: inline;
	margin-right: 0.5rem;
	position: relative;
	color: #fff !important;
	border-right: 2px solid #333;
	padding-right: 5px;
	z-index: 1;
}

.qa-theme-respostas-ocultas .qa-logo img {
	position: relative;
	top: -0.5rem;
}


.qa-logged-in-pad:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\e1b0";
}

.qa-logged-in-avatar {
	display: inline-block;
	margin: 0 5px 0 0;
	width: 24px;
	color: #fff;
}

.qa-logged-in-points {
	display: inline-block;
	margin-left: 2px;
	margin-right: 5px;
}

.qa-logged-in-points:before {
	content: 'Você tem: ';
	padding-right: 5px;
}

/* IE6 */
.qa-nav-user-list {
	list-style: none;
	display: inline;
	margin: 0;
	padding: 0;
}

.qa-nav-user-item {
	display: inline;
	margin: 0;
	padding: 0 5px;
	font-weight: 400;
	text-transform: capitalize;
}


.qa-nav-user-logout .qa-nav-user-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f2f5";
}

.qa-nav-user-updates .qa-nav-user-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f005";
}

.qa-nav-user-link {
	color: #ddd !important;
}

.qa-nav-user-register {
	background: #267db6;
	color: #e5e4dc;
	font-size: 14px;
	border: none;
	position: relative;
	top: -9.5px;
	margin-right: 8px;
	margin-left: 10px;
	padding: 8px 5px;
	cursor: pointer;
	position: relative;
	left: 1rem;
}

.qa-nav-user-register .qa-nav-user-link, .qa-nav-user-register .qa-nav-user-link:visited {
	padding: 0 15px;
	height: 10px;
	margin-top: 0px;
	line-height: 30px;
	color: #fff !important;
}

/* Notice bar */

.qa-notice {
	background: #FFC73A;
	border-bottom: 3px solid #FFD77A;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	position: relative;
	padding: 8px 32px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.15);
}

.qa-notice-close-button {
	font-family: Arial, Tahoma, Sans-serif;
	color: rgba(0, 0, 0, 0.7);
	font-size: 12px;
	font-weight: 700;
	background: #FFE484;
	cursor: pointer;
	position: absolute;
	padding: 4px 8px;
	line-height: normal;
	display: inline-block;
	border: none;
	top: 7px;
	right: 6px;
	border-radius: 15px;
	box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.15);
}

.qa-notice-close-button:hover {
	background: #EAD279;
	color: #000;
}

/* Body styles */

.qa-body-wrapper {
	margin: 0 auto 50px auto;
	overflow: none;
}

/* clearing classes */
.qa-nav-main-clear, .qa-nav-sub-clear, .qa-q-item-clear, .qa-q-view-clear, .qa-a-item-clear, .qa-c-item-clear, .qa-footer-clear, .qa-page-links-clear {
	clear: both;
}



/* header */
.qa-header {
	padding: 15px 10px 5px;
	width: 1000px;
	min-width: 1000px;
	position: fixed;
	top: 0;
}

.qa-logo {
	font-size: 38px;
	width: 250px;
	object-fit: contain;
	top: -5rem;
	position: relative;
	left: 2rem;
	max-width: 100%;
	background-position: center;
}

.qa-logo img {
	width: 300px !important;
	height: 40px !important;
	max-width: 300px;
	max-height: 40px;
	min-width: 100%;
	top: 5vh;
	background-position: top top;
}

.qa-logo-link  {
	position: relative;
	width: 250px;
	object-fit: contain;
	right: 0rem;
	padding: 0px;
	width: 1000px;
	min-width: 1000px;
	max-width: 250px;
	background-position: center;
}

/* main wrapper */
.qa-main-shadow {
}

.qa-main-wrapper {
	position: relative;
	top: -6rem;
	width: 100%;
	background: #181A21;
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.qa-main-wrapper img {
	height: 30px;
}

/* main + sub navigation */
.qa-nav-main {
	clear: both;
	margin-top: 0px;
	padding: 0px 20px;
	background: #171A21;
	border-bottom: 1px solid #262626;
	z-index: 1;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
	font-family: 'Ubuntu', sans-serif;
}

.qa-nav-main-list {
	font-size: 14px;
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	line-height: 0.85;
	z-index: 2; 
}


.qa-nav-main-item {
	float: left;
	margin: 0;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
}

.qa-nav-main-item:hover {
	overflow: hidden;
}

.qa-nav-main-hot a {
	color: #a80000 !important;
	text-transform: uppercase;
	font-weight: 700;
}

.qa-nav-main-item-opp {
	float: right;
	padding-right: 0;
}

.qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: '\f064';
}

.qa-nav-main-item .qa-nav-main-link a {
	font-family: 'Ubuntu', sans-serif;
}

.qa-nav-main-link {
	color: #fff !important;
	display: block;
	padding: 7px 9px;
	-moz-transition: all ease-in-out 0.1s;
	z-index: 999;
	vertical-align: bottom;
	overflow: hidden;
	z-index: -1;
	font-family: 'Ubuntu', sans-serif;
	border: 1px solid transparent;
}


.links-subnavbar {
	padding: 0px 40px;
}


.links-subnavbar a {
	font-size: 16px;
	margin: 0px 20px;
	float: left;
}


.qa-nav-main-link:hover {
	text-decoration: none;
	color: #fff !important;
	-moz-transition: all ease-in-out 0.1s;
	overflow: hidden;
	border-bottom: 1px solid #09f;
}

.qa-nav-main-selected {
	border-bottom: 1px solid #09f;
}

.qa-nav-main-questions .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\e098";
}

.qa-nav-main-tag .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f02b";
}

.qa-nav-main-admin .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f023";
}

.qa-nav-main-user .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f0c0";
}

.qa-nav-main-ask .qa-nav-main-link{
	color: #267db6 !important;
	font-weight: bold;
}

.qa-nav-main-ask .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\2b";
	color: #267db6;
}

.qa-nav-main-unanswered .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f1e2";
}

.qa-nav-main-página-links .qa-logo img {
	position: relative;
	top: -1.3rem;
}

.qa-nav-main-página-links .qa-nav-main-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f0c1";
}

.qa-nav-main-link {
	z-index: 0;
}


.qa-nav-main-custom-1 .qa-nav-main-link {
	border-left: none;
}

.qa-nav-sub {
	background-color: #181A21;
	clear: both;
	border: 1px solid #262626;
	overflow: hidden;
	z-index: 0;
}

/* IE6 since z-order goes wrong */
.qa-nav-sub-list {
	font-size: 11px;
	list-style: none;
	margin: 0;
	padding: 10px 0;
	position: relative;
	width: 1000px;
	background-color: #181A21;
	border-color: #262626;
}


.qa-nav-sub-item {
	float: left;
	padding: 0px 5px
}

.qa-nav-sub-link {
	color: #fff !important;
	font-weight: 400;
	display: block;
	margin: 0 2px;
	background: #262626;
	padding: 2px 6px;
	text-decoration: none !important;
	border: 1px solid transparent;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

.qa-nav-sub-link:hover, .qa-nav-sub-selected {
	color: #262626 !important;
	background: #c7d5e0;
	border-radius: 2px;
	border: 1px solid #aaa;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15) inset;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

.qa-nav-sub-hot .qa-nav-sub-link {
	color: #af0000 !important;
	font-weight: 700;
	-moz-transition: all ease-in-out 0.5s;
	-webkit-transition: all ease-in-out 0.5s;
	-o-transition: all ease-in-out 0.5s;
	-ms-transition: all ease-in-out 0.5s;
	transition: all ease-in-out 0.5s;
}

.qa-nav-sub-hot .qa-nav-sub-link:hover, .qa-nav-sub-hot .qa-nav-sub-selected {
	background: #262626;
	color: #fff !important;
	border-radius: 3px !important;
	border: 1px solid #ff0000;
	box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15) inset;
	-moz-transition: all ease-in-out 0.2s;
	-webkit-transition: all ease-in-out 0.2s;
	-o-transition: all ease-in-out 0.2s;
	-ms-transition: all ease-in-out 0.2s;
	transition: all ease-in-out 0.2s;
}

/* content and widgets */
.qa-main {
	padding-left: 10px;
	float: left;
	width: 900px;
	margin: 5px 20px 24px;
	clear: left;
	overflow: hidden;
	text-align: left !important;
}

.qa-main-hidden h1 {
	color: #000;
}

.qa-ask-box {
	background: #0087CA;
	border: 1px solid #005782;
	border-radius: 3px;
}

.qa-ask-box .qa-form-tall-label {
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
}

.qa-ask-box tr:hover {
	background: none;
}

.entry-title {
	color: #000;
	font-family: Arial,Helvetica,sans-serif;
	font-weight: 700;
}

.qa-rss-icon {
	position: relative;
	float: right;
	top: 4px;
	right: 2px;
	visibility: hidden;
}



/* Voting + Answer + view blocks */

/* Votes */
.qa-q-item-stats {
	float: left;
}

.qa-voting {
	background: #32353C;
	border: 1px solid #32353c;
	float: left;
	width: 60px;
	height: 60px;
	margin-right: 5px;
	padding: 0;
	border-radius: 0px;
	color: #fff;
}

.qa-vote-buttons {
    float: left;
    height: 60px;
    width: 20px;
    position: relative;
}

.qa-vote-up-button, .qa-vote-down-button, .qa-vote-one-button {
	text-indent: 9999px;
}

.qa-vote-buttons-net {
	position: relative;
	top: -0.4rem;
	margin-left: 3px;
}

.qa-vote-down-disabled  {
	position: relative;
	top: 2.9rem !important;
	margin-left: 3px;
}

.qa-vote-up-disabled {
	position: relative;
	top: 1.0rem !important;
	margin-left: 3px;
}

.qa-q-list-vote-disabled .qa-vote-buttons {
	display: none;
}

.qa-vote-up-button, .qa-vote-up-disabled {
	background: url(images/vote-buttons-3.png) no-repeat;
	border: 0;
	position: absolute;
	text-indent: -99999;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-vote-up-button {
	background-position: 0 10px;
	color: #f1c96b;
}

.qa-vote-up-disabled {
	background-position: 0 -20px;
	color: #CCC;
}

.qa-vote-up-hover,
.qa-vote-up-button:hover {
	background-position: 0 10px;
	color: #f1c96b;
}

.qa-vote-down-button, .qa-vote-down-disabled {
	background: url(images/vote-buttons-3.png) no-repeat;
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-vote-down-button {
	background-position: -16px 10px;
	color: #f1c96b;
}

.qa-vote-down-disabled {
	background-position: -16px -20px;
	color: #CCC;
}

.qa-vote-down-button:hover {
	background-position: -16px 10px;
	color: red !important;
}

.qa-voted-up-button {
	background: url(images/vote-buttons-4.png);
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-voted-up-button {
	background-position: 0 10px;
	color: #f1c96b;
}

.qa-voted-up-button:hover {
	background-position: 0 10px;
	color: #f1c96b;
}

.qa-voted-down-button {
	background: url(images/vote-buttons-4.png);
	border: 0;
	color: #f1c96b;
	font-size: 1px;
	height: 20px;
	width: 16px;
}

.qa-voted-down-button {
	background-position: -16px -20px;
	color: #f1c96b;
}

.qa-voted-down-button:hover {
	background-position: -16 10px;
	color: #f1c96b;
}

.qa-vote-one-button {
	position: absolute;
	left: 2px;
	top: 20px;
}



.qa-vote-first-button {
	position: absolute;
	left: 2px;
	top: 6px;
}

.qa-vote-second-button {
	position: absolute;
	left: 2px;
	bottom: 6px;
}

.qa-netvote-count {
	text-align: center;
	display: block;
}

.qa-netvote-count-data {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	display: block;
	margin-top: 10px;
	overflow: hidden;
}

.qa-netvote-count-pad {
	font-size: 11px;
}

/* separate vote buttons counter */
.qa-upvote-count,
.qa-downvote-count {
	text-align: center;
	display: block;
}

.qa-upvote-count-data,
.qa-downvote-count-data {
	display: block;
	margin-top: 2px;
	font-size: 18px;
	font-weight: 700;
}

.qa-upvote-count-pad,
.qa-downvote-count-pad {
	display: none;
}

/* Answers and views count */
.qa-a-count {
	background: #267db6;
	float: left;
	width: 60px;
	height: 60px;
	text-align: center;
	margin-right: 5px;
	padding: 0;
	border-radius: 0px;
	color: #fff;
}

.qa-a-count-zero {
	background: #267db6;
	border: 1px solid #267db6;
}

.qa-a-count-selected {
	background: #5C7E10 !important;
	border: 1px solid #5C7E10;
}

.qa-a-count-data {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	display: block;
	margin-top: 10px;
}

.qa-a-count-pad {
	font-size: 11px;
}

.qa-view-count {
	float: left;
	background: #fff;
	width: 60px;
	height: 60px;
	text-align: center;
	margin-right: 5px;
	padding: 0;
	border: 1px solid #ddd;
	overflow: hidden;
	border-radius: 3px;
}

.qa-view-count-data {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	display: block;
	margin-top: 10px;
}

.qa-view-count-pad {
	font-size: 11px;
}
.qa-template-updates .qa-logo-link{
	font-size: 38px;
	width: 250px;
	object-fit: contain;
	top: -2.9rem;
	position: relative;
	right: 0rem;
}

.qa-template-account .qa-logo img {
	position: relative;
	top: -2.8rem;
}

.qa-template-custom .qa-logo img {
	position: relative;
	top: -2.5rem;
}

.qa-template-admin .qa-logo-link {
	font-size: 38px;
	width: 250px;
	object-fit: contain;
	top: -4.5rem;
	position: relative;
	right: 0rem;
}

.qa-template-user .qa-logo img {
	position: relative;
	top: -3rem;
}

.qa-template-user .qa-main-wrapper {
	width: 90%;
	float: right;
}

.qa-template-login .qa-main .qa-form-tall-buttons {
	padding-right: 30px !important;
}

.qa-template-login .qa-main-wrapper .qa-form-tall-button-login {
	padding: 5px 10px;
	position: relative;
}

.qa-template-login .qam-login-bar {
	box-shadow: none;
}

.qa-template-login .qa-nav-main-list  {
	visibility: hidden;
}

.qa-template-login .qa-nav-main {
	visibility: hidden;
}

.qa-template-login .qa-main {
	width: 520px;
	margin-right: 200px;
	padding: 10px 80px 80px 80px;
	position: relative;
	top: 1rem;
	float: right;
	left: 7rem;
	background: #171a21;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.qa-template-login .qa-sidepanel {
	visibility: hidden;
}

.qa-template-login .qa-search-field {
	visibility: hidden;
}

.qa-template-login .qa-main h1 {
	visibility: hidden;
}

.qa-template-login .qa-search-button {
	visibility: hidden;
}

.qa-template-login .qa-body-wrapper {
	background-image: url("https://i.imgur.com/0CC8YH1.png") no-repeat;
	object-fit: contain;
	z-index: 0;
}

.qa-template-login .qa-form-tall-text input {
	z-index: 99999;
}

.qa-template-login .qa-main-heading {
	border: none;
}

.qa-template-login .qa-body-wrapper img {
	height: 40px;
	position: relative;
	left: 430px;
	top: -4rem;
	z-index: 1;
	position: relative;
	top: 8.5rem;
}

.qa-template-login .qa-main .qa-form-tall-buttons {
	margin-right: 320px !important;
}

.qa-template-users .qa-logo {
	position: relative;
	top: -7.7rem !important;
}

.qa-template-admin .qa-nav-sub-list {
	z-index: 1;
}

.qa-template-question .qa-part-q-view {
	position: relative;
}

.qa-template-questions .qa-logo{
	font-size: 38px;
	width: 250px;
	object-fit: contain;
	top: -8rem;
	right: 7rem;
}

.qa-template-question .qa-view-count {
	position: absolute;
	right: 0;
	top: -20px;
	float: none;
	margin: 0;
	padding: 0 0 2px;
	width: auto;
	height: auto;
	color: #777;
	border: none;
	border-bottom: 1px solid #dddddd;
}

.qa-template-question .qa-view-count-data {
	font-size: 11px;
	line-height: 12px;
	margin-top: 1px;
	display: inline;
}

.qa-template-question .qa-view-count-pad {
	font-size: 8px;
	line-height: 8px;
	letter-spacing: 1px;
}

.qa-template-unanswered .qa-logo {
	font-size: 38px;
	width: 250px;
	object-fit: contain;
	top: -8rem;
	right: 7rem;
}

.qa-template-users .qa-logo {
	font-size: 38px;
	width: 250px;
	object-fit: contain;
	top: -6.5rem;
	right: 7rem;
}


.qa-favoriting {
	position: absolute;
	right: 0;
	bottom: 5px;
}

.qa-favorite-button, .qa-unfavorite-button {
	background: url(images/favorite-heart.png) no-repeat;
	border: 0;
	background-size: cover;
	height: 24px;
	width: 24px;
	color: gray !important;
}

.qa-favorite-button {
	background-position: 0 -24px;
}

.qa-favorite-button:hover {
	background-position: 0 0;
}

.qa-unfavorite-button {
	background-position: 0 -48px;
}

.qa-unfavorite-button:hover {
	background-position: 0 0;
}

.qa-error, .qa-warning, .qa-success {
	font-size: 18px;
	margin-bottom: 1em;
	padding: 5px 15px;
	border-radius: 3px;
}
.qa-error {
	background: #F8D7DA;
	border: 1px solid red;
	color: #AA3724;
}
.qa-warning {
	background: #dd0;
	border: 1px solid #aa0;
	color: #ffffd9;
}
.qa-success {
	background: #6a3;
	border: 1px solid #383;
	color: #ded;
}

.qa-error a, .qa-warning a {
	color: #AA3724;
	font-weight: bold;
}
.qa-error a:hover, .qa-warning a:hover {
	text-decoration: underline;
	color: #AA3724;
}

/* Page sections */
.qa-sidepanel {
	float: right;
	width: 240px;
	padding: 10px;
	margin-top: 27px;
	min-height: 80px;
	word-wrap: break-word;
}

.qa-sidebar {
	font-size: 14px;
	margin: 0 0 10px 0;
	padding: 20px;
	background: #1b2838;
	border: 1px solid #171a21;
	color: #c7d5e0;
}

.qa-feed {
	background: #e78520 url(images/feed-icon-14x14.png) no-repeat 20px 22px;
	padding: 20px;
	margin: 0 0 10px 0;
}

.qa-feed-link {
	font-size: 12px;
	color: #262626 !important;
	padding-left: 20px;
}

.qa-footer-bottom-group {
	background: #267db6;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.qa-footer {
	clear: both;
	width: 980px;
	margin: 0 auto;
	color: #777777;
	font-size: 10px;
	padding: 10px;
}

.qa-footer a, .qa-footer a:visited {
	text-decoration: underline;
}

/* IE6 Widget wrappers */
.qa-widget-full {
	clear: both;
	margin: 15px 0;
}

.qa-widget-full-high {
	margin-bottom: 0;
}

.qa-widgets-main-high {
	margin-bottom: 24px;
}

.qa-widget-main {
	margin: 0 0 15px 0;
}

.qa-widget-main-bottom {
	margin-bottom: 0;
}

.qa-widget-side,
.qa-nav-cat {
	margin: 0 0 10px 0;
	border: 1px solid #333;
	background: #181A21;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.qa-sidebar,
.qa-feed,
.qa-widget-side,
.qa-nav-cat {
	border-radius: 3px;
}

.qa-widget-side > div {
	padding: 10px 20px 20px;
}

.qa-widget-side h2 {
	margin: 0 !important;
	padding: 20px 20px 5px !important;
	background: none;
	color: #fff;
	border-radius: 0;
	box-shadow: none;
	font-size: 18px;
	border: none;
	text-shadow: none;
}

.qa-widget-side > div.qa-related-qs {
	padding: 0;
}

.qa-nav-cat-list {
	list-style: none;
	margin: 0;
	padding: 10px 20px 20px;
}

.qa-nav-cat-list li {
	padding: 0;
}

.qa-nav-cat-all a {
	font-weight: bold;
}

.qa-nav-cat-list ul {
	padding: 0;
}

.qa-nav-cat-list ul li {
	padding: 0 0 0 10px;
}

.qa-nav-cat-list-1 {
	font-size: 14px;
}

.qa-nav-cat-list-2 {
	font-size: 14px;
	margin-left: 1em;
}

.qa-nav-cat-list-3 {
	font-size: 14px;
	margin-left: 1em;
}

.qa-nav-cat-list-4 {
	font-size: 14px;
	margin-left: 1em;
}

.qa-nav-cat-list-1 .qa-nav-cat-item {
	padding: 4px 0px;
}

.qa-nav-cat-link:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f03a";
}

.qa-nav-cat-list-2 .qa-nav-cat-item,
.qa-nav-cat-list-3 .qa-nav-cat-item,
.qa-nav-cat-list-4 .qa-nav-cat-item {
	border: none;
}

.qa-nav-cat-item {
	margin: 2px 0;
	text-align: right;
}

.qa-nav-cat-link {
	float: left;
	clear: both;
	word-break: break-word;
}

.qa-nav-cat-note {
	color: #ddd;
	white-space: nowrap;
}

/* Pagination */
.qa-page-links {
	font-size: 12px;
	clear: both;
	zoom: 1;
	padding: 12px 0;
}

/* zoom:1 for IE6 */
.qa-page-links-label {
	display: none;
}

.qa-page-links-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-page-links-item {
	text-align: center;
	margin-right: 2px;
	float: left;
	display: inline;
}

.qa-page-link, .qa-page-selected, .qa-page-prev, .qa-page-next, .qa-page-ellipsis {
	display: block;
	padding: 1px 6px;
	color: #666 !important;
}

.qa-page-link {
	color: #666 !important;
	background-color: #eee;
	border: 1px solid #aaa;
	-moz-transition: background-color ease-in-out 0.5s;
	-webkit-transition: background-color ease-in-out 0.5s;
	-o-transition: background-color ease-in-out 0.5s;
	transition: background-color ease-in-out 0.5s;
}

.qa-page-selected {
	color: #ddd !important;
	background-color: #666666;
	border: 1px solid #444;
}

.qa-page-prev, .qa-page-next {
	color: #666;
	background-color: #eee;
	border: 1px solid #aaa;
	-moz-transition: background-color ease-in-out 0.5s;
	-webkit-transition: background-color ease-in-out 0.5s;
	-o-transition: background-color ease-in-out 0.5s;
	transition: background-color ease-in-out 0.5s;
}

.qa-page-ellipsis {
	color: #666;
}

.qa-page-link:hover, .qa-page-prev:hover, .qa-page-next:hover {
	text-decoration: none;
	background-color: #666;
	color: #ddd !important;
	-moz-transition: background-color ease-in-out 0.15s;
	-webkit-transition: background-color ease-in-out 0.15s;
	-o-transition: background-color ease-in-out 0.15s;
	transition: background-color ease-in-out 0.15s;
}

/* Standard form (tall version) */
.qa-form-tall-table {
	width: 100%;
	border-collapse: collapse;
}

.qa-form-tall-spacer {
	line-height: 1px;
	font-size: 1px;
	padding: 0;
}

.qa-form-tall-ok {
	background: #6AAA2B;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding: 6px;
	border-radius: 3px;
}

.qa-form-tall-label {
	color: #ddd;
	font-size: 14px;
	padding: 8px 8px 2px 8px;
	margin-right: 320px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.qa-form-tall-label tbody:nth-child(2) {
	color: #000;
}

.qa-form-tall-data {
	width: 480px;
	padding: 2px 8px 8px 8px;
}

.qa-form-tall-data > ul {
	margin-top: 0;
}

.qa-form-tall-text, .qa-form-tall-number, .qa-form-tall-email {
	padding: 0px;
}

.qa-form-tall-text, .qa-form-tall-email {
	background: #32353C;
	color: #666;
	width: 100%;
	border: 1px solid #32353C;
	font-size: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}

.qa-form-tall-number {
	width: 48px;
	background: #fff;
	border: 1px solid #ccc;
}

.qa-form-tall-checkbox {
	float: left;
	margin-right: 4px;
}

.qa-form-tall-image {
	text-align: center;
}

.qa-form-tall-suffix {
	font-weight: 400;
	font-size: 10px;
	color: #666;
}

.qa-form-tall-error {
	color: #c00;
	font-size: 14px;
	margin-top: 6px;
	display: inline-block;
}

.qa-form-tall-note {
	margin-top: 6px;
}

.qa-form-tall-note a {
	color: #09f;
	text-decoration: underline;
}

.qa-form-tall-note a:hover {
	color: #396E63;
}

.qa-form-tall-buttons {
	padding: 8px 8px 8px 8px;
}

.qa-form-tall-button,  .qa-form-tall-table input[type="button"], .qa-form-wide-button, .qa-form-basic-button {
	background: #267db6;
	color: #e5e4dc;
	overflow: hidden;
	font-size: 14px;
	border: none;
	position: relative;
	margin-left: 10px;
	left: 15rem;
	padding: 0px 20px;
	line-height: 32px;
	cursor: pointer;
}

.qa-search-button:hover, .qa-form-tall-table input[type="button"]:hover, .qa-form-basic-button:hover {
	background: #0099CC;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	border: 1px solid #004566;
	padding: 5px 10px;
	line-height: 14px;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 rgba(255, 255, 255, 0.5) inset;
}

.qa-form-tall-button-login  {
	float: left !important;
}

.qa-form-tall-button-cancel {
	background: #aa0000;
	border: 1px solid #880000;
}

.qa-form-tall-button-cancel:hover {
	background: #dd0000;
	border: 1px solid #880000;
}

.qa-form-wide-button-save, .qa-form-wide-button-saverecalc, .qa-form-tall-button-save {
	background: #196627;
	border: 1px solid #153513;
}

.qa-form-wide-button-save:hover, .qa-form-wide-button-saverecalc:hover, .qa-form-tall-button-save:hover {
	background: #1F7F31;
	border: 1px solid #153513;
}

/* Standard form (wide version) */
.qa-form-wide-table {
	border-collapse: collapse;
	width: 100%;
}

.qa-form-wide-spacer {
	line-height: 1px;
	font-size: 1px;
	border-bottom: 1px solid #ccc;
	padding: 0;
}

.qa-form-wide-ok {
	background: #6AAA2B;
	color: #fff;
	font-size: 18px;
	text-align: center;
	padding: 6px;
	border-radius: 3px;
}

.qa-form-wide-label {
	border-bottom: 1px solid #f4f4f4;
	color: #ddd;
	font-size: 14px;
	white-space: nowrap;
	padding: 10px;
}

.qa-form-wide-data {
	border-bottom: 1px solid #f4f4f4;
	padding: 6px 10px;
}

.qa-form-wide-text, .qa-form-wide-number, .qa-form-wide-email {
	padding: 3px;
}

.qa-form-wide-text, .qa-form-wide-email {
	background: #32353c;
	width: 320px;
	border: 1px solid #32353c;
}

.qa-form-wide-data input {
	background: #32353c;
	border: 1px solid #32353c !important;
	color: #ccc;
}

.qa-form-wide-number {
	width: 48px;
	background: #111;
	border: 1px solid #444;
	vertical-align: middle;
}

.qa-form-wide-error {
	display: inline-block;
	color: #c00;
	font-size: 11px;
	margin-left: 6px;
}

.qa-form-wide-note {
	font-size: 10px;
	margin-left: 4px;
	color: #666;
}

.qa-form-wide-buttons {
	padding: 8px 0 8px 8px;
}

.qa-form-wide-prefix {
	font-size: 14px;
}

.qa-form-tall-help, .qa-form-wide-help {
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-left: 4px;
	border-radius: 18px;
	background-color: #0179b5;
	color: #fff;
	font-size: 11px;
	line-height: 19px;
	text-align: center;
	cursor: help;
}

/* Standard form (light version - buttons only) */
.qa-form-light-button {
	background: none;
	border: 0;
	height: 24px;
	cursor: pointer;
	margin-right: 6px;
	font-size: 12px;
	text-align: left;
	overflow: visible;
	padding: 0;
}

/* overflow:visible for IE */
.qa-form-light-button {
	color: #666;
}

.qa-form-light-button:hover {
	color: #000;
}

.qa-form-light-button-edit, .qa-form-light-button-retagcat {
	background: url(images/edit-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-flag {
	background: url(images/flag-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-unflag, .qa-form-light-button-clearflags {
	background: url(images/unflag-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-hide {
	background: url(images/hide-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-follow {
	background: url(images/follow-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-comment {
	background: url(images/comment-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-answer {
	background: url(images/answer-icon.png) no-repeat left center;
	padding-left: 18px;
	color: #289e00;
	font-weight: 700;
	text-transform: capitalize;
}

.qa-form-light-button-answer:hover {
	color: #fff;
}

.qa-form-light-button-reshow {
	background: url(images/reshow-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-claim {
	background: url(images/claim-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-delete {
	background: url(images/delete-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-approve {
	background: url(images/approve-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-reject {
	background: url(images/reject-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-close {
	background: url(images/close-icon.png) no-repeat left center;
	padding-left: 18px;
}

.qa-form-light-button-reopen {
	background: url(images/reopen-icon.png) no-repeat left center;
	padding-left: 18px;
}

/* Standard form (basic version - buttons only) */
.qa-form-basic-button {
	vertical-align: middle;
	margin: 4px 4px 8px 0;
}

/* Question list */
.qa-q-list-item {
	zoom: 1;
	padding: 20px 20px;
}

/* zoom for IE, padding for early FF */
.qa-q-item-main {
	width: 488px;
	float: left;
	padding-left: 10px;
}

.qa-q-item-title {
	color: #262626;
	font-size: 16px;
}

.qa-q-item-title a {
	font-family: 'Ubuntu',sans-serif;
	font-weight: 700;
	line-height: normal;
}

.qa-q-item-content {
	font-size: 10px;
	margin-top: 8px;
	max-height: 80px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 4px;
}

.qa-q-item-avatar-meta,
.qa-q-view-avatar-meta,
.qa-a-item-avatar-meta,
.qa-c-item-avatar-meta {
	display: block;
	color: #ddd;
}

.qa-q-item-avatar-meta:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 2px;
	color: gray;
	content: "\f075";
}

.qa-q-item-avatar-meta {
	margin: 10px 0 0;
}

.qa-q-item-avatar {
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.qa-q-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 11px;
	color: #fff;
}

.qa-q-item-when-data {
	font-weight: 700;
	color: #fff;
}

.qa-q-item-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #fff;
}

.qa-q-item-points-data {
	font-weight: 700;
}

.qa-q-item-flags {
	color: red;
	font-weight: 700;
	padding-left: 4px;
}

.qa-q-item-tags {
	margin-top: 10px;
	float: left;
}

.qa-q-item-tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 11px;
}

.qa-q-item-tag-item {
	display: inline;
}

.qa-q-item-buttons {
	clear: both;
	float: left;
	margin: 10px 0;
}

.qa-suggest-next {
	background: #1b2838;
	border: 1px solid #171a21;
	color: #c7d5e0;
	font-size: 14px;
	text-align: center;
	clear: both;
	padding: 8px;
	margin-top: 22px;
	border-radius: 3px;
}

.qa-suggest-next a {
	font-weight: 700;
	color: #147FDC;
}

.qa-suggest-next a:hover {
	color: #147FDC;
	text-decoration: underline;
}


/* Tags and Users ranking */

.qa-ranking-item {
	display: inline-block;
	margin: 0 5px 15px 0;
	vertical-align: top;
	width: 220px;
	min-height: 30px;
	line-height: 1.3;
}

.qa-top-users-item {
}
.qa-top-users-avatar {
	float: left;
	margin-right: 6px;
}
.qa-top-users-label {
	display: block;
}
.qa-top-users-score {
	display: block;
}

.qa-top-tags-item {
	width: 165px;
}
.qa-top-tags-count {
	display: inline-block;
	min-width: 40px;
	text-align: right;
	padding-right: 3px;
}
.qa-top-tags-label {
	display: inline-block;
}


/* Categories */

.qa-browse-cat-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-browse-cat-list-1 {
	font-size: 18px;
}

.qa-browse-cat-list-2 {
	font-size: 14px;
	margin-left: 20px;
}

.qa-browse-cat-list-3 {
	font-size: 14px;
	margin-left: 20px;
}

.qa-browse-cat-list-4 {
	font-size: 14px;
	margin-left: 20px;
}

.qa-browse-cat-item {
	font-weight: 700;
	color: #000;
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}

.qa-browse-cat-list-2 .qa-browse-cat-item,
.qa-browse-cat-list-3 .qa-browse-cat-item,
.qa-browse-cat-list-4 .qa-browse-cat-item {
	border: none;
}

.qa-browse-cat-closed {
	list-style: none;
	color: #000;
}

.qa-browse-cat-open {
	list-style: none;
	color: #26434D;
}

a.qa-browse-cat-link,
a.qa-browse-cat-link:visited {
	font-weight: 700;
	text-decoration: none;
	color: #000;
}

.qa-browse-cat-list-3 .qa-browse-cat-item {
	padding: 5px 0;
}

.qa-browse-cat-note {
	font-weight: 400;
	font-size: 85%;
	color: #444;
}

.qa-browse-cat-note a {
	color: #506D83;
}

/* Question view */

.qa-q-view-content,
.qa-a-item-content,
.qa-c-item-content {
	word-break: break-word;
}

.qa-post-content {
	color: #fff;
}

.qa-q-view {
	padding-left: 10px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.qa-q-view-main {
	float: left;
	width: 620px;
	padding-left: 10px;
}

.qa-q-view-content {
	margin-bottom: 16px;
}

.qa-q-view-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.qa-q-view-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.qa-q-view-follows {
	font-size: 14px;
	margin-bottom: 12px;
}

.qa-q-view-closed {
	font-size: 14px;
	margin-bottom: 18px;
}

.qa-q-view-closed-content {
	font-weight: 700;
}

.qa-q-view-extra {
	font-size: 14px;
	margin-bottom: 18px;
}

.qa-q-view-extra-content {
	font-weight: 700;
}

.qa-q-view-when-data {
	font-weight: 700;
}

.qa-q-view-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-q-view-points-data {
	font-weight: 700;
}

.qa-q-view-flags {
	color: red;
	font-weight: 700;
	padding-left: 4px;
}

.qa-q-view-tags {
	clear: both;
	margin-bottom: 12px;
}

.qa-q-view-tag-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.qa-q-view-tag-item {
	display: inline;
}

.qa-q-view-buttons {
	margin-top: 16px;
}

.qa-q-view-c-list {
	clear: both;
	border-top: 1px solid #ccc;
	margin: 24px 0 0 24px;
}

.qa-q-view-hidden .qa-voting {
	color: #ccc;
}

.qa-q-view-hidden .qa-q-view-content {
	color: #ddd;
}

.qa-q-view-hidden .qa-q-view-meta {
	color: #ccc;
}

.qa-q-view-hidden .qa-user-link {
	color: #999;
}

.qa-q-view-hidden .qa-q-view-who-title {
	color: #999;
}

.qa-q-view-hidden .qa-category-link {
	color: #999;
}

.qa-q-view-hidden .qa-tag-link {
	color: #ccc;
	opacity: 0.5;
}

/* Answer view */
.qa-a-list-item {
	background: #32353c;
	zoom: 1;
	color: #fff;
	position: relative;
	padding: 25px;
	border-top: 1px solid #32353c;
	border-bottom: 1px solid #32353c;
	min-height: 108px; /* prevent tick icon being hidden */
}
.qa-a-list-item:target {
	-webkit-animation: highlight 2s ease-in-out;
	animation: highlight 2s ease-in-out;
}

/* zoom for IE, padding for early FF */
.qa-a-list-item-selected {
	background: transparent !important;
	border: 1px solid #5C7310;
	color: #ddd;
	margin-top: 10px;
	padding: 25px;
}

.qa-a-list-item-selected .qa-a-item-buttons input {
	color: #ddd !important;
}

.qa-a-list-item-hidden .qa-voting {
	color: #ccc;
}

.qa-a-list-item-hidden .qa-a-item-content {
	color: #999;
}

.qa-a-list-item-hidden .qa-a-item-what {
	color: #ccc;
}

.qa-a-list-item-hidden .qa-a-item-meta {
	color: #ccc;
}

.qa-a-list-item-hidden .qa-a-item-who-title {
	color: #999;
}

.qa-a-list-item-hidden .qa-user-link {
	color: #999;
}

.qa-a-item-main {
	float: left;
	width: 610px;
	display: inline-block;
	padding-left: 10px;
	color: #fff;
}

/* inline-block for IE */
.qa-a-item-content {
	margin-bottom: 16px;
}

.qa-a-item-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 8px;
}

.qa-a-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 12px;
}

.qa-a-item-when-data {
	font-weight: 700;
}

.qa-a-item-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-a-item-points-data {
	font-weight: 700;
}

.qa-a-item-flags {
	color: red;
	font-weight: 700;
	padding-left: 4px;
}

.qa-a-item-buttons {
	margin-top: 16px;
}

.qa-a-item-c-list {
	clear: both;
	border-top: 1px solid #ddd;
	margin: 24px 0 0;
}

/* Answer selection */
.qa-a-selection {
	position: absolute;
	left: 20px;
	top: 100px;
	width: 60px;
	text-align: center;
}

.qa-a-select-button {
	background: url(images/select-star.png) no-repeat;
	border: 0;
	height: 50px;
	width: 50px;
}

.qa-a-select-button {
	background-position: 0 -50px;
}

.qa-a-select-button:hover {
	background-position: 0 -100px;
}

.qa-a-unselect-button {
	background: url(images/selected-star.png) no-repeat;
	border: 0;
	height: 50px;
	width: 50px;
}

.qa-a-unselect-button {
	background-position: 0 0;
}

.qa-a-unselect-button:hover {
	background-position: 0 -50px;
}

.qa-a-selected {
	background: url(images/selected-star.png) no-repeat 0 0;
	height: 50px;
	width: 50px;
	margin: 0 auto;
}

.qa-a-selected-text {
	font-size: 9px;
	font-weight: 800;
	display: block;
	visibility: hidden;
	color: #73A651;
	line-height: 6px;
}

.qa-item-what:before {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	padding-right: 7px;
	color: gray;
	content: "\f075";
}

/* Comments */
.qa-c-list-item {
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding: 8px 0 8px 8px;
}
.qa-c-list-item:target {
	-webkit-animation: highlight 2s ease-in-out;
	animation: highlight 2s ease-in-out;
}

.qa-c-list-item:nth-child(odd) {
	background: #fafafa;
}

.qa-c-list-item:last-child {
	border-bottom: none;
}

.qa-c-item-hidden .qa-c-item-content {
	color: #bbb;
}

.qa-c-item-hidden .qa-c-item-link {
	color: #aaf;
}

.qa-c-item-hidden .qa-c-item-what {
	color: #ccc;
}


.qa-c-item-hidden .qa-c-item-meta {
	color: #ccc;
}

.qa-c-item-hidden .qa-c-item-who-title {
	color: #999;
}

.qa-c-item-hidden .qa-user-link {
	color: #999;
}

.qa-c-item-link {
	display: block;
	margin-bottom: 6px;
}

.qa-c-item-expand {
	display: block;
	color: #666;
	font-style: italic;
	margin: 2px 0;
}

.qa-c-item-content {
	display: block;
	margin-bottom: 6px;
	font-size: 12px;
}

.qa-c-item-footer {
	position: relative;
	height: 1%;
}

/* voting styles for comments */
.qa-c-list-item .qa-voting {
	width: 40px;
	height: auto;
	background-color: transparent;
	border: 0;
}

.qa-c-list-item .qa-vote-first-button,
.qa-c-list-item .qa-vote-second-button,
.qa-c-list-item .qa-vote-one-button {
	width: 8px;
	height: 10px;
	background: transparent url(images/vote-buttons-small.png) no-repeat;
	padding: 0;
}
.qa-c-list-item .qa-vote-first-button {
	left: 0;
	top: 0;
}
.qa-c-list-item .qa-vote-second-button {
	left: 0;
	top: 12px;
}
.qa-c-list-item .qa-vote-one-button {
	left: 0;
	top: 6px;
}
.qa-c-list-item .qa-vote-count {
	float: left;
	margin: 0;
}
.qa-c-list-item .qa-netvote-count-data {
	margin-top: 0;
	font-size: 13px;
}

.qa-c-list-item .qa-vote-up-button {
	background-position: 0 0;
}
.qa-c-list-item .qa-vote-up-button:hover,
.qa-c-list-item .qa-vote-up-button:focus,
.qa-c-list-item .qa-vote-up-button:active {
	background-position: 0 -10px;
}

.qa-c-list-item .qa-vote-down-button {
	background-position: -8px 0;
}
.qa-c-list-item .qa-vote-down-button:hover,
.qa-c-list-item .qa-vote-down-button:focus,
.qa-c-list-item .qa-vote-down-button:active {
	background-position: -8px -10px;
}

.qa-c-list-item .qa-vote-up-disabled,
.qa-c-list-item .qa-vote-up-disabled:hover,
.qa-c-list-item .qa-vote-up-disabled:focus,
.qa-c-list-item .qa-vote-up-disabled:active {
	background-position: 0 -40px;
}

.qa-c-list-item .qa-vote-down-disabled,
.qa-c-list-item .qa-vote-down-disabled:hover,
.qa-c-list-item .qa-vote-down-disabled:focus,
.qa-c-list-item .qa-vote-down-disabled:active {
	background-position: -8px -40px;
}

.qa-c-list-item .qa-voted-up-button {
	background-position: 0 -20px;
}
.qa-c-list-item .qa-voted-up-button:hover,
.qa-c-list-item .qa-voted-up-button:focus,
.qa-c-list-item .qa-voted-up-button:active {
	background-position: 0 -30px;
}

.qa-c-list-item .qa-voted-down-button {
	background-position: -8px -20px;
}
.qa-c-list-item .qa-voted-down-button:hover,
.qa-c-list-item .qa-voted-down-button:focus,
.qa-c-list-item .qa-voted-down-button:active {
	background-position: -8px -30px;
}


/* height for IE6 */
.qa-c-item-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.qa-c-item-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #fff;
}

.qa-c-item-who-title {
	font-size: 80%;
	font-weight: 700;
	color: #6b0000;
}

.qa-c-item-who-points {
	display: none;
}

.qa-c-item-flags {
	color: red;
	font-weight: 700;
	padding-left: 3px;
}

.qa-c-item-buttons {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
}

.qa-c-item-buttons .qa-form-light-button {
	background: none;
	height: auto;
	font-size: 10px;
	padding: 0;
}

/* Message list */
.qa-message-item {
	margin: 0;
	padding: 12px;
	border-bottom: 2px dotted #ddd;
}

.qa-message-content {
	margin-bottom: 6px;
}

.qa-message-avatar {
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
}

.qa-message-meta {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	color: #666;
}

.qa-message-buttons {
	display: inline-block;
	vertical-align: middle;
	font-size: 10px;
	margin-left: 12px;
}

.qa-message-buttons .qa-form-light-button {
	background: none;
	height: auto;
	font-size: 10px;
	padding: 0;
}

/* Related questions and activity count widgets */
.qa-related-qs {
	font-size: 14px;
}

.qa-related-qs h2 {
	font-size: 18px;
}

.qa-related-q-list {
	list-style-type: none;
	padding: 0 20px 15px;
	margin: 0;
}

.qa-related-q-item {
	margin: 0;
	padding: 5px 0;
	border-top: 1px solid #fafafa;
	border-bottom: 1px solid #ddd;
}

.qa-related-q-item:first-child {
	border-top: none;
}

.qa-related-q-item:last-child {
	border-bottom: none;
}

.qa-widget-side-low {
	border-top: 1px solid #ddd;
}

.qa-widget-side-low div {
	padding: 0 10px 10px;
}

.qa-activity-count {
	font-size: 14px;
	color: #c7d5e0;
	padding: 10px;
	background: #1b2838;
	display: table;
	border: none;
}

.qa-activity-count-item {
	margin: 0;
	display: inline;
	padding-right: 5px;
}

.qa-activity-count-data {
	font-size: 20px;
	font-weight: 700;
	color: #0179b5;
	display: table-cell;
	text-align: right;
	padding-right: 0.25em;
}

/* Footer parts */
.qa-nav-footer-list {
	float: left;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.qa-footer-left {
	float: left;
}

.qa-footer-left p {
	display: inline-block;
}

.qa-footer-right {
	float: right;
	display: inline-block;
	margin-right: 12px;
}


.qa-nav-footer-link {
	color: #ddd !important;
}

.qa-nav-footer-item {
	float: left;
	position: relative;
	z-index: 1;
	visibility: hidden;
	object-fit: cover;
}

.qa-attribution {
	float: right;
	color: #fff;
}

.qa-attribution a {
	color: #fff;
}

/* Classes passed to theme */
.qa-user-link {
	color: #09f !important;
	font-weight: 700;
}

.qa-category-link {
	color: #1e5568;
	font-weight: 700;
}

.qa-tag-link, .qa-widget-side .qa-q-view-tag-item, .qa-widget-side > div > a {
	background: #253D7E;
	color: #fff !important;
	font-size: 11px;
	font-family: Arial, Tahoma, sans-serif;
	display: inline-block;
	text-decoration: none !important;
	padding: 5px 8px;
	border-radius: 0px;
	-moz-transition: all ease-in-out 0.75s;
	-webkit-transition: all ease-in-out 0.75s;
	-o-transition: all ease-in-out 0.75s;
	-ms-transition: all ease-in-out 0.75s;
	transition: all ease-in-out 0.75s;
}

.qa-widget-side a {
	margin: 0 3px 3px 0;
	display: inline-block;
}

.qa-related-q-item a {
	margin: 0;
	display: block;
	background: none;
	border: none;
	text-transform: none;
}

.qa-tag-link:hover, .qa-q-view-tag-item:hover, .qa-widget-side > div > a:hover {
	background: #0099cc;
	color: #fff !important;
	-moz-transition: all ease-in-out 0.25s;
	-webkit-transition: all ease-in-out 0.25s;
	-o-transition: all ease-in-out 0.25s;
	-ms-transition: all ease-in-out 0.25s;
	transition: all ease-in-out 0.25s;
}

.qa-q-view-tag-item {
	margin: 5px 0;
}

.qa-avatar-image {
	border: 0;
	vertical-align: middle;
}

.qa-avatar-link, .qa-avatar-link:hover {
	text-decoration: none;
}

.qa-favorite-image {
	background: url(images/favorite-heart.png) no-repeat 0 -24px;
	border: 0;
	height: 24px;
	width: 24px;
	vertical-align: middle;
	display: inline-block;
}

.qa-waiting {
	background: url(images/spinner-icon-14x14.gif) no-repeat center;
	width: 14px;
	height: 14px;
	display: inline-block;
	font-size: 0;
	margin: 0 8px 0 4px;
	vertical-align: middle;
}

.qa-favoriting .qa-waiting {
	position: absolute;
	padding: 0;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
}

.qa-a-selection .qa-waiting {
	position: absolute;
	padding: 0;
	left: 50%;
	top: 50%;
	margin: -7px 0 0 -7px;
}

.qa-q-favorited .qa-q-item-title a, .qa-tag-favorited, .qa-tag-favorited:hover, .qa-cat-favorited, .qa-user-favorited, .qa-nav-cat-favorited, .qa-browse-cat-favorited {
	background: url(images/favorite-icon-15x15.png) no-repeat;
}

.qa-cat-parent-favorited {
	background: url(images/favorite-light-icon-15x15.png) no-repeat;
}

.qa-q-favorited .qa-q-item-title a, .qa-nav-cat-favorited, .qa-browse-cat-favorited {
	background-position: left center;
	padding-left: 18px;
}

.qa-nav-cat-favorited {
	margin-left: -18px;
}

.qa-tag-favorited, .qa-tag-favorited:hover {
	background-position: 2px center;
	padding-left: 19px;
}

.qa-cat-favorited, .qa-cat-parent-favorited, .qa-user-favorited {
	background-position: left center;
	padding-left: 17px;
}

/* IE6 friendly versions of icons with binary alpha channel */
* html .qa-form-light-button-edit, * html .qa-form-light-button-retagcat {
	background: url(images/edit-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-flag {
	background: url(images/flag-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-unflag, * html .qa-form-light-button-clearflags {
	background: url(images/unflag-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-hide {
	background: url(images/hide-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-follow {
	background: url(images/follow-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-comment {
	background: url(images/comment-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-answer {
	background: url(images/answer-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-reshow {
	background: url(images/reshow-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-claim {
	background: url(images/claim-icon-ie6.png) no-repeat left center;
}
* html .qa-form-light-button-delete {
	background: url(images/delete-icon-ie6.png) no-repeat left center;
}
* html .qa-vote-up-button {
	background: url(images/vote-buttons-ie6.png) no-repeat 0 0;
}
* html .qa-vote-up-disabled {
	background: url(images/vote-buttons-ie6.png) no-repeat 0 -116px;
}
* html .qa-vote-down-button {
	background: url(images/vote-buttons-ie6.png) no-repeat -27px 0;
}
* html .qa-vote-down-disabled {
	background: url(images/vote-buttons-ie6.png) no-repeat -27px -116px;
}
* html .qa-voted-up-button {
	background: url(images/vote-buttons-ie6.png) no-repeat 0 -87px;
}
* html .qa-voted-down-button {
	background: url(images/vote-buttons-ie6.png) no-repeat -27px -87px;
}
* html .qa-tag-link {
	background: url(images/tag-icon-ie6.png) no-repeat left center;
}
* html .qa-a-count {
	background: url(images/a-count-icon-ie6.png) no-repeat 32px 13px;
}


/* q2a 1.6 new user profile page css */

.qa-template-user .qa-main {
	width: 100%;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.qa-template-user .qa-part-form-activity,
.qa-template-user .qa-part-message-list {
	float: right;
	width: 50%;
	padding-left: 10px;
}

.qa-template-user .qa-part-form-activity h2 {
	margin-top: 0;
}

.qa-template-user .qa-part-form-profile {
	float: left;
	width: 50%;
	min-height: 630px;
	padding-right: 10px;
	border-right: 1px solid #ddd;
}

.qa-template-user .qa-part-form-activity,
.qa-template-user .qa-part-message-list,
.qa-template-user .qa-part-form-profile {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.qa-template-user .qa-part-message-list .qa-form-tall-text,
.qa-template-user .qa-part-form-profile .qa-form-wide-text {
	width: 100% !important;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.qa-template-user .qa-part-form-profile .qa-form-wide-data {
	word-break: break-word;
}

.qa-template-user .qa-part-form-activity td .qa-uf-user-points,
.qa-template-user .qa-part-form-activity td .qa-uf-user-q-posts,
.qa-template-user .qa-part-form-activity td .qa-uf-user-a-posts,
.qa-template-user .qa-part-form-activity td .qa-uf-user-c-posts,
.qa-template-user .qa-part-form-activity td .qa-uf-user-q-votes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-a-votes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-upvotes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-downvotes,
.qa-template-user .qa-part-form-activity td .qa-uf-user-upvoteds,
.qa-template-user .qa-part-form-activity td .qa-uf-user-downvoteds {
	font-size: 18px;
	color: #069;
	font-weight: 700;
}

/* Plugins */

[class^="qa-part-form-plugin"] {
	padding: 12px 0;
	border-top: 1px solid #ddd;
}
.qa-part-form-plugin-0,
.qa-part-form-plugin-options {
	padding-top: 0;
	border-top: 0;
}

@-webkit-keyframes highlight {
	0% { background-color: #ffffaa; }
	100% { background-color: #fff; }
}
@keyframes highlight {
	0% { background-color: #ffffaa; }
	100% { background-color: #fff; }
}


@media screen and (max-width: 767px) {
	.qa-logo img {
		position: relative;
		float: left;
		left: 230px;
	}
}